.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .address-nav{
    background: rgb(255, 163, 77);
    
}
  .nav-items{
    margin: 5px 0px;
    
  }
  .wallet-img{
    width: 30px;
    margin-right: 8px;
  }
  .logo-img{
    max-width: 40px;
    margin-right: 10px;
  }
  .logo-img-heading{
    max-width: 40px;
    margin-bottom: 10px;
  }
  .meta-logo{
    color: #033E8C;
    font-weight: 700;
  }
  .links-container{
    display: inline;
  }
  .links{
    text-decoration: none;
    color: black;
    font-weight: 700;

  }
  .links:hover{
    color: #033E8C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }