.welcome{
    text-align: center;
    margin-top: 32px;
    color: #033E8C;
    font-weight: 700;
}

.subHeading{
    text-align: center;
   font-weight: bold;
}

.home-image{
    max-width: 95%;
    display: flex;
    margin: auto;
}