@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.custom-font-cart {
    font-family: 'Reddit Mono', monospace;
    font-size: 30px;
    color: #033E8C;
}
.tokenbalance{
    font-size: 20px;
    color: #0a203c;
    font-weight: 700;
}
.withdraw-input{
    max-width: 400px;
}
.withdraw-container{
    display: flex;
    margin: auto;
    width: 70%;
    border: solid 1px #033E8C;
    padding: 10px;
    border-radius: 20px;
    min-height: 400px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
/* .withdraw-right{
} */
.eth-image{
    max-width: 420px;
}

.heading{
    text-align: center;
}
