@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.custom-font {
    font-family: 'Reddit Mono', monospace;
}

.donate-image {
  width: 400px
}
.heading-font{
    color: #023e8c;
}
.eth-token{
    max-height: 25px;
}
.input-eth{
    width: 30%;
    display: inline;
    
}
.eth-label{
    margin-left: 20px;
    border-left: 5px solid #033E8C;
    padding: 20px;
    font-size: 20px;
    color: grey;
}